<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="complaint.css">
</head>
<body>
    
 <table border="1">
    <tr>
        <td>Name</td>
        <td>Complaint</td>
        <td>Date</td>
        <td>Reply</td>
    </tr>
    {% for i in val %}
    <tr>
        <td>{{ i.USER.Name  }}</td>
        <td>{{ i.Complaint }}</td>
        <td>{{ i.Date }}</td>
        <td>{{ i.Reply }}</td>
    </tr>
    {% endfor %}
 </table>

</body>
</html>