.pass1{
    margin-left: 560px;
    margin-top: 300px;
}
input{
    padding: 8px;
    width: 150px;
    margin-top: 20px;
}
.btn{
    margin-top: 60px;
    padding: 10px;
    height: 30px;
    width: 180px;
    color: white;
    background-color: rgb(55, 55, 105);
    border-radius: 10px;
}
.btn:hover{
    background-color: blue;
}