<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="password.css">
<body>
    <form>
        <div class="pass1">
        <input type="text" placeholder="Enter the old password"><br>
        <input type="text" placeholder="Enter the new password"><br>
      <input type="text" placeholder="Confirm the new password"><br>
        <input type="button" value="Change password" class="btn">
  </div>

    </form>
</body>
</html>